.cell {
    -fx-border-color: dodgerblue;
    -fx-border-color-selected:red;
    -fx-border-width: 1px;
}

.hbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.cell-highlight {
    -fx-background-color:derive(dodgerblue,0.9);
}

.cell-house {
    -fx-background-color:derive(black,0.9);
}

.cell-police{
    -fx-background-color:derive(blue,0.1);
}

.cell-fire {
    -fx-background-color:derive(red,0.1);
}

.cell-hospital {
    -fx-background-color:derive(red,0.9);
}

.cell-hover-highlight {
    -fx-background-color:derive(green,0.9);
}